@import "icon.css";
@import "main.css";
@import "public.css";
@rem:46.875rem;

.skillupgrade{
  width:100%;
  height:410/@rem;
  background: url('../../assets/images/skill_bg.png') no-repeat;
  background-size:cover;
}

.UpgradePayment{
  width:100%;
  height:520/@rem;
  background: url('../../assets/images/skill_bg2.png') no-repeat;
  background-size:cover;
}

.fade-fadeInLeft-init{
  transition:0.3s ease-in;
  transform: translateX(-150%);
}
.fade-fadeInLeft-entered{
  transform: translateX(0);
}
.fade-fadeInLeft-exited{
  transform: translateX(-150%);
}

.dplayer-controller{
  height:30/@rem !important;
  bottom:23/@rem !important;
  .dplayer-bar-wrap{
    height:10/@rem !important;
    .dplayer-bar,.dplayer-played{
      height:100% !important;
    }
  }
  .dplayer-icons{
    .dplayer-live-badge,.dplayer-time{
      font-size:28/@rem !important;
    }
    .dplayer-icon{
      padding:0 !important;
      width:60/@rem !important;
    }
    .dplayer-setting{
      .dplayer-setting-box{
        width:200/@rem !important;
        bottom:50/@rem !important;
        padding:8/@rem 0 !important;
      }
      .dplayer-setting-item{
        height:60/@rem !important;
      }
    }
    .dplayer-setting-box-narrow{
      height:auto !important;
    }
    .dplayer-setting-speed-item{
      height:40/@rem !important;
      padding:10/@rem !important;
    }
    .dplayer-label{
      font-size:28/@rem !important;
    }
    .dplayer-toggle{
      height:50/@rem !important;
    }
    .dplayer-label{
      vertical-align: top !important;
    }
  }
}
.dplayer-video-wrap{
  video{
    object-fit: cover !important;
  }
}

